NJSGC_AstroClub_Work/NASA_files/
NJSGC_AstroClub_Work/mass_radius_data/
NJSGC_AstroClub_Work/posterior_samples/
NJSGC_AstroClub_Work/studies/p_vs_rho_discrepancy/txt_files/
NJSGC_AstroClub_Work/NICER_mock_data/mass_radii_posterior/
NJSGC_AstroClub_Work/NICER_mock_data/outdated/
NJSGC_AstroClub_Work/NICER_mock_data/MCMC_results/distributions/
NJSGC_AstroClub_Work/emcee_files/runs/
NJSGC_AstroClub_Work/emcee_files/error/
NJSGC_AstroClub_Work/emcee_files/first_try/
NJSGC_AstroClub_Work/emcee_files/used_runs/
NJSGC_AstroClub_Work/__pycache__/
joint_inference/summer_idea/data/
joint_inference/summer_idea/__pycache__/
joint_inference/development/run_data/
joint_inference/development/__pycache__/
